[Unit]
Description=OppOS AppArmor
Wants=oppos-supervisor.service
Before=docker.service oppos-supervisor.service
RequiresMountsFor=/mnt/data

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/oppos-apparmor

[Install]
WantedBy=multi-user.target
