[Unit]
Description=OppOS overlay setup 
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true
Before=oppos-bind.target
After=mnt-overlay.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/oppos-overlay
RemainAfterExit=true

[Install]
WantedBy=local-fs.target
