[Unit]
Description=OppOS Configuration Manager
After=oppos-bind.target network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/oppos-config

[Install]
WantedBy=multi-user.target
