[Unit]
Description=OppOS ZRAM tmp
DefaultDependencies=no
Before=tmp.mount
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/oppos-zram -t fs -m tmp -s 16M
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=oppos-zram.target
