[Unit]
Description=OppOS ZRAM swap
DefaultDependencies=no
Before=dev-zram0.swap
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/oppos-zram -t swap
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=oppos-zram.target
